* {
    font-family: Arial, sans-serif;
}
table {
    border: 2px solid #000;
    border-collapse: collapse;
    width: 500px;
    table-layout: fixed;
    caption-side: bottom;
}
table td, table th {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

table thead {
    background-color: #e59292
}
table tfoot {
    background-color: #ffe97b;
}

table tbody tr:nth-child(odd) {
    background-color: #f0ffff;
}
table tbody tr:nth-child(even) {
    background-color: #9ecaca;
}
table tbody tr:nth-child(3) {
     background-color: #9c966b;
}
table body tr:first-child(odd) {
    background-color: black;
}
