* {
    font-family: Calibri, sans-serif;
}
table {
    border: 5px solid #ffffff;
    border-collapse: collapse;
    width: 1000px;
    table-layout: fixed;
    caption-side: bottom;
}
table td, table th {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    color: white;
}

table thead {
    background-color: #697ecd;
}
table tfoot {
    background-color: #3d5093;
}

table tbody tr:nth-child(odd) {
    background-color: #4675a3;
}
table tbody tr:nth-child(even) {
    background-color: #436899;
}

table body tr:first-child(odd) {
    background-color: black;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid white;
}